.ToDoList {
  display: block;
  position: relative;
  margin: auto;
  margin-top: 10px;
  width: 70%;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.toDoListHeader {
  position: relative;
  display: inline-flex;
  justify-content: center;
  margin: auto;
  width: 100%;
  border-bottom: 2px solid #92929278;
  border-top: 2px solid #92929278;
}

.listName {
  margin-top: 5px;
  margin-bottom: 5px;
}

.toDoListContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: auto;
  margin-top: 10px;
  border-bottom: 1px solid #cecece;
}

.ToDoItem {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 0px 20px 0px;
  margin-bottom: 5px;
  width: 90%;
  font-family: Roboto, sans-serif;
  font-weight: 100;
  font-size: 15px;
  color: #333333;
}

.completedToDoText {
  text-decoration: line-through;
  font-style: italic;
  color: #cdcdcd;
}

input[type="checkbox"] {
  margin-right: 10px;
  font-size: 10px;
}

input[type="checkbox"]:focus {
  outline: 0;
}

.close {
  position: absolute;
  right: 0px;
  top: 50%;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before,
.close:after {
  position: absolute;
  top: -50%;
  left: 15px;
  content: " ";
  height: 100%;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.deleteItem{
  position:absolute;
  margin:auto;
  width: 10%;
  right: 10px;
  height: 100%;
  color: rgba(255, 0, 0, 0.5);
}

.deleteItem:hover{
  color: rgba(255, 0, 0, 1)
}
.deleteItem:active{
  color: rgba(161, 0, 0, 0.733)
}